@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bar-nav{
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9;
    transition: .2s;
}
.show-nav-bar{
    background: white;
    transition: .2s;
    height: 70px;

}
.bar-nav .icon{
    width: 38%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Rubik';
    color: #1b2e35;
}
.bar-nav .icon p span{
    font-weight: 600;
    font-family: 'Rubik';
    color: #894288;
}
.bar-nav .menu{
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.bar-nav .menu a{
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-family: 'Rubik','sans-serif';
    color: #1b2e35;
    min-width: 100px;
}
@media screen and (max-width:998px) {
    .bar-nav .icon{
        font-size: 35px;
    }
    
}
.banner{
    height: 200vh;
    width: 100%;
    background: url('../img/cardinal/banner/fondo\ banner\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner span{
    height: 75vh;
    /* background: red; */
    position: absolute;
    bottom: 0px;
    left: 120px;
    z-index: 1;
}
.banner span .tittle{
    font-size: 120px;
    color: #1b2e35;
    font-family: 'Rubik','sans-serif';
}
.banner span .info{
    font-size: 25px;
    font-weight: 200;
    color: #1b2e35;
    font-family: 'Rubik','sans-serif';
}
.banner span button{
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #1b2e35;
    background: rgba(255, 255, 255, 0);
    color: #1b2e35;
    transition: .2s;
}
.banner span button:hover{
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #1b2e35;
    background: #1b2e35;
    color: white;
    transition: .2s;
}
.banner img{
    height: 80vh;
    position: absolute;
    bottom: 0px;
    right: 100px;
    z-index: 0;
}