body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    overflow: hidden;
}
.container{
    width: 600px;
    background: white;
    overflow-x: scroll;
}
.table{
    width:max-content;
    background: white;
    padding: 10px;
    overflow-x: hidden;
}
.table .thead{
    font-weight: bold;
}
.table .thead .tr, .table .tbody .tr{
    display: flex;
}
.table .thead .tr .td, .table .tbody .tr .td{
    display: inline-flex;
    width: 100px;
    background: blue;
    margin: 0px;
}
.td-counter{
    width: 30px !important;
}
.td-sm{
    width: 50px !important;
}
.td-md{
    width: 100px !important;
}
.td-lg{
    width: 150px !important;
}
.td-xl{
    width: 200px !important;
}


